
html {
    background:  #b2b1ca;
    font-family: 'Space Mono', monospace ;
}
.container-fluid {
    background:  #b2b1ca;
    font-family: 'Space Mono', monospace;
    color:aliceblue;
}

.row {
  margin: 10px;
  margin: auto 0;
}
.section_2 {
    height: 20px;
    background: #b2b1ca;
    color: #b2b1ca;
    margin-top: 
    /* margin-bottom: 15px; */
  }
.form-control {
    background:  #b2b1ca;
}


h1 {
    font-size: 100px;
    margin-top: -5px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

  .form-group {
     background:  #b2b1ca !important;
    
  }
  
img {
    height: 300px;
    width: 300px;
}

#formGroupExampleInput {
    background: #b2b1ca;
    color:black;
    border: 1px solid aliceblue;
    border-radius: 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(202, 202, 202) !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgb(202, 202, 202) !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(202, 202, 202) !important;
  }

#formGroupExampleInput2 {
    background:  #b2b1ca;
    color:rgb(32, 32, 32);
    border: 1px solid aliceblue;
}

#new-task-status{
    background:  #b2b1ca;
    color:rgb(255, 255, 255);
    border: 1px solid aliceblue;
}

#roles {
    /* margin-top: 50px; */
    background:   #b2b1ca;;
    color:aliceblue;   
}

#assign {
    background:   #b2b1ca;
    color:aliceblue;   
}

#date {
    background:  #b2b1ca;
    color:aliceblue;
    border: 1px solid aliceblue;
    margin-top: -5px;   
}

/* #new-task-status {
    max-width: 25vw;
} */

#button {
    color:  #b2b1ca;
    background:aliceblue; 
}

.list-group-item {
    visibility: hidden;
}

.col-sm-4 > .btn {
    margin-top: 175px;
}

#card {
    color: black;
    width:auto;
    visibility: visible;
}

.card-body > .btn > a {
  text-decoration: none;
  color: aliceblue;
}

#tasks-list {
    color: black;
    width: 5%;
    /*display: flex;
    //align-items: flex-start;*/
}


