html {
    background: #ff1807;
    font-family: 'Space Mono', monospace ;
}
.container-fluid {
    background: #ff1807;
    font-family: 'Space Mono', monospace;

    color:aliceblue;
}
h1{
    font-size: 100px;
    margin-top: -5px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
  }

  .form-group{
     border-radius: 0;
  }

}

img {
    height: 200px;
    width: 200px;
}

